/*
body {
    direction: rtl;
}

.album {
    text-align: right;
}

.card {
    margin-bottom: 30px;
}
*/
.like {}

.obj {
    margin-top: -192px;
    margin-left: 250px;
    display: grid;
    padding: 0px;
}