{% extends "studypal/maincourse.html" %}
{% block maincontent %}
<main class="mainc"> 
<div class="coursedes">
<div class="describe">
<h2>{{object.name}}</h2>
<p>{{object.description }} </p>
</div>

<div class ="creatordiv">
    <p class="lecname"> <img
        class="rounded-circle account-img divcreatorimage"
        src="{{ object.lecturer.lecturer.samaritanprofile.image.url }}"
    />{{ object.lecturer.lecturer.username }} </p>
    <p class="lec">Course lecturer</p>
</div>
<div class="duration">
    <div class="space"></div>
    <div class="vr"></div>
    <p class="lessons">6</p>
    <p class ="l1">Lessons</p>
    <p class="hours">52</p>
    <p class="l2">Hours</p>
</div>
    <img
        class="cimg"
        src="{{ object.coverimage.url }}"
      />
    {% if user.disabilityprofile %}
    {% if user_isenrolled == False %}
    <a class="btn enroll" href="{% url 'course-enroll' object.id %}"><p class="enrtext">Enroll</p></a>
    {%endif%}
    {% endif %}
    {% if user_isenrolled == True %}
    <a class="btn enrolled" href="{% url 'course-enroll' object.id %}"><p class="enrtextp">Enrolled <i class="bi bi-check2 fs-3 passm enrtextp"></i></p></a>
    {%endif%}
</main>
<div class="divider">

</div>
{% if object.lecturer.lecturer == request.user %}
<main class="mainc">   
   
<a class="btn btn-danger" href="{% url 'topic-create' object.id %}">Add a Topic</a>
<legend>Students Enrolled</legend>
<hr>
{% for  student in enrolled  %}
    <h6>{{student.student.username}}</h6>
{%endfor%}
</main>
{% endif %}
<div class="divider">

</div>
<main class="mainc">  
    <div class="another-grid-container">
        {% if topic.course.lecturer.lecturer == request.user %}
        {% for topic in topics  %}
        <a class="btn" href="{% url 'topic-detail' topic.id %}">
        <div class="another-grid-item">
            <img
                class="timg"
                src="{{ topic.coverimage.url }}"
            />
            <p class="tname"> {{topic.name}} </p>  
        </div>
        </a>
        {% endfor %}
        {% else %}
        {% for topic in topics  %}
        <a class="btn" href="{% url 'topic-view' topic.id %}">
            <div class="another-grid-item">
                <img
                    class="timg"
                    src="{{ topic.coverimage.url }}"
                />
                <p class="tname"> {{topic.name}} </p>  
            </div>
            </a>
        {%endfor%}
        {%endif%} 
    </div>
</main>
{%endblock%}