{% extends "studypal/base.html" %}
{% block content %}
<div>
<h2>{{object.name}}</h2>
{% if user_isenrolled == True %}
<h3 class="btn btn-danger">Hurray,Your already enrolled , A Teacher will get across to you soon </h3>
{%endif%}
{% if object.lecturer.lecturer == request.user %}
<a class="btn btn-danger" href="{% url 'topic-create' object.id %}">Add a Topic</a>
<legend>Students Enrolled</legend>
<hr>
{% for  student in enrolled  %}
    <h6>{{student.student.username}}</h6>
{%endfor%}
<hr>
{% endif %}
<legend>Course Description</legend>
<p>{{object.description }} </p>
<hr>
</div>

<h4>Topics:</h4>
{% for topic in topics  %}
<h6> {{topic.name}} </h6> 
<h6> {{topic.course.lecturer.lecturer}} </h6> 
{% if topic.course.lecturer.lecturer == request.user %}
<a class="btn btn-danger" href="{% url 'topic-detail' topic.id %}">Update Topic</a>
{%endif%} 
<a class="btn btn-danger" href="{% url 'topic-view' topic.id %}">View Topic</a>
<ul>
</ul>
{% endfor %}
{% endblock %}