{% extends "studypal/base.html" %}
{% block content %}
<div>
    {% if user_in_samaritans %}
        <h1>Welcome Educator</h1>
        <p>This platform is dedicated to making a positive impact on the lives of individuals with disabilities. Your willingness to extend an olive branch to those in need of assistance is truly commendable. Your contributions can take various forms, such as:</p>
        <ul>
            {% if user_in_lecturers == False %}
            <li>Creating a new course to empower them. <a class="btn btn-danger" href="{% url 'welcomelecturer' %}">Be a Lecturer</a></li>
            {%endif%}
            {% if userinteachers == False %}
            <li>Becoming a teacher for a class of individuals with disabilities.<a class="btn btn-danger" href="{% url 'welcometeacher' %}">Be a Teacher</a></li>
            {%endif%}
            <li>Providing learning assistance tailored to cater to specific disabilities.</li>
        </ul>
        <p>Your commitment to creating a new course opens up avenues for them to learn and grow. By offering your expertise and support, you become an essential part of their educational journey.</p>

        <p>Being a teacher for a class of individuals with disabilities allows you to make a lasting impact on their lives. Your guidance and understanding contribute to creating an inclusive and supportive learning environment.</p>

        <p>Providing learning assistance in ways that cater to particular disabilities showcases your dedication to ensuring that everyone has an equal opportunity to thrive. Your efforts contribute to a more inclusive and compassionate society.</p>

        <h3>Thank you for being a Samaritan and making a difference!</h3>
        <a class="btn btn-danger" href="{% url 'select_course' %}">Creat a class</a></li>

        
    {% endif %}
    {% if user_in_disabled %}
        <h1>Welcome Our Special one</h1>
    {% endif %}
</div>

{% endblock %}