{% extends "studypal/base.html" %}
{% block content %}
<div class="content-section">
  {% if show == True %}
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ lecturer.lecturer.samaritanprofile.image.url }}"
      />
      <div class="media-body">
        <h2 class="account-heading fs-3">Teacher Username: {{ lecturer.lecturer.username }}</h2>
        <p class="text-secondary fs-3"> Email :{{ lecturer.lecturer.email }}</p>
        <p class="text-secondary fs-3"> Address: {{ lecturer.lecturer.samaritanprofile.address}}</p>
        <p class="text-secondary fs-3"> Phone Number: {{ lecturer.lecturer.samaritanprofile.phonenumber}}</p>
      </div>
      <hr>
      <legend> Courses Created</legend>
      <hr>
      {% for course in courses %}
      <p>{{course.name}}</p>
      <h6> Description</h6>
      <p>{{course.description}}</p>
      {%endfor%}
  {%endif%}
  {% if show == False %}
  <a class="btn btn-danger" href="{% url 'welcomelecturer' %}">Be a Lecturer</a>

  {%endif%}
    </div>
{%endblock%}