{% extends "studypal/quizbase.html" %}
{% load crispy_forms_tags %}
{% block quizcontent %}
{%if object.questiontype == "objective" %}
<h3>Objective Questions</h3>
<h2>{{objquiz.objquestion.question}}</h2>
<p>
    {{objquiz.op1}}
</p>
<p>
    {{objquiz.op2}}
</p>
<p>
    {{objquiz.op3}}
</p>
<p>
    {{objquiz.op4}}
</p>
<form method="post" action="{% url 'submit-answer' objquiz.id %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit">Submit</button>
    {% for j in objans  %}
    {%if objquiz.answer == j.answerfilled and objquiz.id == j.question.id  %}
        <a class="btn btn-success" href="#">Correct</a>
    {%endif%}
    {%if objquiz.answer != j.answerfilled and objquiz.id == j.question.id%}
        <a class="btn btn-danger" href="#">Wrong</a>
        <a class="btn btn-success" href="#">Corret Answer is {{q.answer}}</a>

    {%endif%}
    {%endfor%}
</form>
{%endif%}
{%if object.questiontype == "theory" %}
<h2>{{quiz.question}}</h2>
<form method="post" action="{% url 'submit-theory' object.id %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit">Submit</button>
</form>
{%endif%}


{%endblock%}