{% extends "studypal/quizbase.html" %}
{% load crispy_forms_tags %}
{% block quizcontent %}
{% for key,value in questionnumbers.items %}
{%if value == object.id %}
    <h2>Question {{key}}</h2>
{%endif%}
{%endfor%}
{%if object.questiontype == "objective" %}
<p class="commence">Commence your Assessment Test Experience<p>
<p class="prac">Practice Quiz</p>
<p class="question">{{objquiz.objquestion.question}}</p>
<p class="objq">
    {{objquiz.op1}}
</p>
<p class="objq">
    {{objquiz.op2}}
</p>
<p class="objq">
    {{objquiz.op3}}
</p>
<p class="objq">
    {{objquiz.op4}}
</p>
<form method="post" action="{% url 'submit-answer' objquiz.id %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit"class="subobj">Submit</button>
    {% for j in objans  %}
    {%if objquiz.answer == j.answerfilled and objquiz.id == j.question.id  %}
        <a id="correct-btn" class="btn btn-success" href="#">Correct</a>
    {%endif%}
    {% if objquiz.answer != j.answerfilled and objquiz.id == j.question.id %}
    <div id="box" class="feedback-buttons">
        <a id="wrong-btn" class="btn btn-danger" href="#">Wrong</a>
        <a id="wrong-btn2" class="btn btn-success" href="#">Correct Answer is {{ objquiz.answer }}</a>
    </div>
    {% endif %}
    {%endfor%}
</form>
{%endif%}
{% for key,value in questionnumbers.items %}
{% if key == questionnumbers|length and value == object.id  %}
<a class="btn btn-success" href="{% url 'topic-view' next  %}">Proceed To next topic</a>
{% endif %}
{%endfor%}






{%endblock%}