{% extends "studypal/quizbase.html" %}
{% load crispy_forms_tags %}
{% block quizcontent %}
{% for key,value in questionnumbers.items %}
{%if value == object.id %}
    <h2>Question {{key}}</h2>
{%endif%}
{%endfor%}
{%if object.questiontype == "objective" %}
<p class="commence">Commence your Assessment Test Experience<p>
<p class="prac">Practice Quiz</p>
<p class="question">{{objquiz.objquestion.question}}</p>
<p class="objq">
    {{objquiz.op1}}
</p>
<p class="objq">
    {{objquiz.op2}}
</p>
<p class="objq">
    {{objquiz.op3}}
</p>
<p class="objq">
    {{objquiz.op4}}
</p>
<form method="post" action="{% url 'submit-answer' objquiz.id %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit">Submit</button>
    {% for j in objans  %}
    {%if objquiz.answer == j.answerfilled and objquiz.id == j.question.id  %}
        <a class="btn btn-success" href="#">Correct</a>
    {%endif%}
    {%if objquiz.answer != j.answerfilled and objquiz.id == j.question.id%}
        <a class="btn btn-danger" href="#">Wrong</a>
        <a class="btn btn-success" href="#">Corret Answer is {{objquiz.answer}}</a>

    {%endif%}
    {%endfor%}
</form>
{%endif%}

{%if object.questiontype == "theory" %}
<h2>{{quiz.question}}</h2>
<form method="post" action="{% url 'submit-theory' object.id %}">
    {% csrf_token %}
    {{ form|crispy}}
    <button type="submit" class="sub">Submit</button>
</form>
{%endif%}


{%endblock%}