{% extends "studypal/base.html" %}
{% block content %}

<li>Becoming a teacher for a class of individuals with disabilities is not just a profession; it's a calling. It's about making a difference, empowering others, and fostering inclusivity. As a teacher in this noble field, you have the opportunity to inspire, educate, and positively impact the lives of your students every single day.</li>
<li>Enter the number of students you can handle and be a part of creating an inclusive learning environment. Click below to embark on this rewarding journey:</li>
<a class="btn btn-danger" href="{% url 'teacher-create' %}">Be a Teacher</a>
<li>As a teacher for individuals with disabilities, be ready at all times to cater to the unique learning needs of your students. Your dedication and support will shape a brighter future for them.</li>


{% endblock %}