{% extends "studypal/base.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img
        class="rounded-circle account-img"
        src="{{ object.teacher.samaritanprofile.image.url }}"
      />
      <div class="media-body">
        <h2 class="account-heading fs-3">Teacher Username: {{ object.teacher.username }}</h2>
        <p class="text-secondary fs-3"> Email :{{ object.teacher.id}}</p>
        <p class="text-secondary fs-3"> Email :{{ object.teacher.email }}</p>
        <p class="text-secondary fs-3"> Address: {{ object.teacher.samaritanprofile.address}}</p>
        <p class="text-secondary fs-3"> Phone Number: {{ object.teacher.samaritanprofile.phonenumber}}</p>
        <p class="text-secondary fs-3"> Class Size: {{ object.handlesize}}</p>
      </div>
    </div>
{%endblock%}