{% extends "studypal/maincourse.html" %}
{% block maincontent %}
{% load crispy_forms_tags %}
{% load static %}
<div>
    <p>Courses > {{object.course.name}} > {{object.name}}</p>
    <video id="myvideo" width="640" height="360" controls class="topicvid">
        <source src="{{ object.video_file.url }}" type="video/mp4">
        Your browser does not support the video tag.
        {% if topicinsub %}
            <track kind="subtitles" src="{{ subs.subtitle.url }}" srclang="en" label="English" default>
        {% endif %}
    </video>
    <div class ="tcd">
        <p class="pcd"> <img
            class="rounded-circle account-img timgt "
            src="{{ object.course.lecturer.lecturer.samaritanprofile.image.url }}"
        /></p>
        <div class="objd">
        <p class "namet">{{ object.name }}</p>
        <p class="adjust">{{ object.course.lecturer.lecturer.username }}</p>
        </div>
    </div>
    <div class="upnext">
        <h3 class="upn"> Up Next</h3>
        <p class="upp"> Dear student, taking the quiz s an essential part of your lerning journey. It is designed to assess your understanding of the course material, and your performance will reflect in your final grade. So take the quiz and give it your best shot. Goodluck champ!</p>
        <a class="btn takeqb" href="{% url 'quizpage' object.id %}">Take Quiz</a>
    </div>
    <div class="extras"> 
    <ul class = "hd">
        <li class="hdli"><a href="{% url 'topic-description' object.id %}">Topic Description</a></li>
        <li class="hdli"><a href="{% url 'topic-description' object.id %}">Educational Materials</a></li>
    </ul>
    <main class="mainc">
        {% block topicdesc %}{% endblock %}
    </main>
    </div>
    <div class="sectionfx">
    <main class="mainc">  
        <div class="section-grid-container">
            {% for s in section%}
            <a class="btn" href="#">
            <div class="section-grid-item">
                <img
                    class="timg"
                    src="{{ s.coverimage.url }}"
                />
                <p class="tname"> {{s.title}} </p>  
                {% if topic.course.lecturer.lecturer == request.user %}
                    <a class="btn btn-danger" href="{% url 'topic-detail' topic.id %}">Update Topic</a>
                {%endif%} 
            </div>
            {% endfor %}
        </div>
    </main>
</div>

{%endblock%}